body{
    background-color: #1abc9c;
}
h2{
    font-size: 30px;
}
p{
    font-size: 30px;
    width: 100%;
    margin: 0%;
}
table{
    width: 100%;
}
.letraBlanca{
    color: white;
}
.bordeOutset{
    border-color: grey;
    border-style: outset;
    border-width: 10px;
}
.bordeLinea{
    border: solid;
    border-color: black;
    border-width: 1px;
}
.rojo{
    background-color: red;
}
.aqua{
    background-color: aqua;
}
.morado{
    background-color: blueviolet;
}
.sinBottom{
    margin-bottom: 0px;
}
.sinMargen{
    border-width:  0px;
}
#amarillo{
    background-color: yellow;
}
#blanco{
    background-color: white;
    margin: 3px;
}
#verde{
    background-color: chartreuse;
}